
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black, #130303, black);
    background-attachment: fixed;
    color: #fff;
}


header {
    position: relative;
    z-index: 1;
    top: -50px;
}

.header-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

    .profile img {
        width: 400px; /* Ajusta el tamaño según tus preferencias */
        height: 400px; /* Ajusta el tamaño según tus preferencias */
        border-radius: 50%;
        align-items: center; /* Cambiado de 'space-around' a 'flex-start' */
    }

.profile-info {
    max-width: 400px;
    font-size: 21px;
    text-align: left;
   margin-left: 50px;
}

/* Media Query para pantallas más pequeñas (responsive) */
@media (max-width: 768px) {

    .header-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

        .profile img {
            width: 150px; /* Ajusta el tamaño para pantallas más pequeñas */
            height: 150px; /* Ajusta el tamaño para pantallas más pequeñas */
            margin-bottom: 10px;
        }

    .profile-info {
        font-size: 16px;
        text-align: center;
        margin-left: 0px;
    }
}

section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

    section h2 {
        color: red;
        text-align: center;
        font-size: 29px; 
        font-weight: bold;
    }


#about {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 30px;
    line-height: 1.5
}
#skills {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

    #skills h2 {
        color: red;
        text-align: center;
        font-size: 28px;
        margin: 50px auto;
    }

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    text-align: center;
    margin-bottom: 20px;
}

    .skill img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .skill p {
        margin-bottom: 20px;
    }

    .skill a {
        color: white;
        text-decoration: underline;
        display: block;
    }
.separador1 {
    background-image: url('imagenes/separador.png');
    background-repeat: repeat;
    background-size: auto 140px;
    height: 40px;
    width: 100%;
}
.separador2 {
    background-image: url('imagenes/separador.png');
    background-repeat: repeat;
    background-size: auto 140px;
    height: 120px;
    width: 100%;
}

footer {
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: #fff;
}
#contacto {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    line-height: 1.5;
}

  
a {
    color: white;
}

.contact-info {
    font-size: 18px;
    margin-top: 10px;
}
@media (max-width: 768px) {
    section {
        padding: 15px;
    }
}

